@import "normalize.css";
@import "fonts.css";

html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

* {
    line-height: 1.5em;
}

.home {
    max-width: 830px;
    padding: 0 15px;
    text-align: center;
    height: 100%;
    margin: 10rem auto auto;
}

.home .logo {
    width: 40%;
    margin-bottom: 5rem;
}

a {
    color: #00aade;
    text-decoration: none;
}

a:hover {
    color: #f7941e;
    text-decoration: none;
}

.btn {
    background-color: #00aade;
    color: #fff;
    border-radius: 5px;
    padding: .5rem;
    font-size: 1.5rem;
    border: #00aade 1px solid;
}

.btn--back {
    background-color: transparent;
    border: none;
    color: #f7941e;
}
.btn--back:hover {
    color: #DC8011;
}

.btn--search {
    border-radius: 0 5px 5px 0;
}

.search {
    display: flex;
    justify-content: center;
}

.search .search__query {
    padding: 1rem;
    border: #999 1px solid;
    border-radius: 5px 0 0 5px;
    font-size: 1.5rem;
    flex-grow: 1;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    border-bottom: #ddd 1px solid;
    height: 100px;
}

.topbar .topbar__back {
    margin: 0;
}

.topbar .topbar__logo {
    background: url('images/logo.png') no-repeat;
    color: transparent;
    background-size: contain;
    width: 200px;
    height: 63px;
    margin: 0;
}

.topbar__search {
}

.webview {
    height: calc(100% - 100px);
    width: 100%;
    display: block;
}

#instant-answer {
    display: flex;
    border: 2px #999 dashed;
    padding: 0 1em;
    margin-bottom: 1em;
    background-color: #f6f6f6;
}

#instant-answer .instant-answer__image {
    margin-right: 1em;
}

.hidden {
    display: none !important;
}

.results {
    max-width: 80%;
    margin: 1rem auto 0 auto;
}

.result-container {
}

.result-container__header__img {
    height: 1.5rem;
    float: left;
    padding: 0 .5em 0 0;
}

.result-stream-container {
    position: relative;
}
.result-stream {
    display: flex;
    overflow-x: hidden;
}
.result-stream-nav {
    display: block;
    color: black;
    font-size: 6em;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 50px 10px 0 20px;
    box-sizing: border-box;
    cursor: pointer;
    opacity: .8;
    font-weight: bolder;
    -webkit-text-stroke: 1px #fff;
}
.result-stream-nav.result-stream-nav__right {
    right: 0;
    background: linear-gradient(to right, rgba(255,0,0,0), #ccc);
}
.result-stream-nav.result-stream-nav__right:hover {
    background: linear-gradient(to right, rgba(255, 0, 0, 0), #aaa);
}
.result-stream-nav.result-stream-nav__left {
    display: none;
    left: 0;
    background: linear-gradient(to left, rgba(255,0,0,0), #ccc);
}
.result-stream-nav.result-stream-nav__left:hover {
    background: linear-gradient(to left, rgba(255, 0, 0, 0), #aaa);
}
.result-stream-nav:active {
    color: #333;
}
.result-stream-nav.result-stream-nav__left:active {
    padding-left: 15px;
}

.result-stream-nav.result-stream-nav__right:active {
    padding-right: 15px;
}

.result-block {
    display: inline;
    min-width: 250px;
    max-width: 250px;
    float: left;
    padding: 0 1rem;
    margin-right:20px;
    border:1px solid #ddd;
    word-wrap: break-word;
}

.result-container-header-text {
    display: inline;
    padding: 6px;
}

.result-img {
    width: 50px;
    height: 50px;
    display: inline;
    float: left;
    margin-right: .5em;
}

.result-description {
    display: block;
    color: black;
    font-size: medium;
    line-height: 135%;
    padding:5px 5px 15px 5px;
}

.result-link {
    text-decoration: none;
    color: black;
}

.video-result-img {
    padding-top:15px;
    width: 200px;
    height: 170px;
    margin-left:calc(50% - 100px);
}

.loading-img {
    margin-left:calc(50% - 40px);
    width:80px;
    height:80px;
}

.result-title{
    font-size:medium;
    font-weight: bold;
    display:block;
    line-height: 135%;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    height:75px;
}
.restricted-search{
    color:red;
}

#modal-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .8);
    z-index: 100;
    top: 0;
    display: none;
    text-align: center;
}
#modal {
    max-width: 800px;
    top: 50%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);

}

.video-result-description{
    text-align: center;
}

.video-result-description:hover{
    color:#f7941e;
}
