@import "normalize.css";
@import "fonts.css";

html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

* {
    line-height: 1.5em;
}

.home {
    max-width: 830px;
    padding: 0 15px;
    text-align: center;
    height: 100%;
    margin: 10rem auto auto;
}

.home .logo {
    width: 40%;
    margin-bottom: 5rem;
}

a {
    color: #00aade;
    text-decoration: none;
}

a:hover {
    color: #f7941e;
}

.btn {
    background-color: #00aade;
    color: #fff;
    border-radius: 5px;
    padding: .5rem;
    font-size: 1.5rem;
    border: #00aade 1px solid;
}

.btn--back {
    background-color: transparent;
    border: none;
    color: #f7941e;
}

.btn--search {
    border-radius: 0 5px 5px 0;
}

.search {
    display: flex;
    justify-content: center;
}

.search .search__query {
    padding: 1rem;
    border: #999 1px solid;
    border-radius: 5px 0 0 5px;
    font-size: 1.5rem;
    flex-grow: 1;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    border-bottom: #ddd 1px solid;
    height: 100px;
}

.topbar .topbar__back {
    margin: 0;
}

.topbar .topbar__logo {
    background: url('images/logo.png') no-repeat;
    color: transparent;
    background-size: contain;
    width: 200px;
    height: 63px;
    margin: 0;
}

.topbar__search {
}

.webview {
    height: calc(100% - 100px);
    width: 100%;
    display: block;
}

#instant-answer {
    display: flex;
    border: 2px #999 dashed;
    padding: 0 1em;
    margin-bottom: 1em;
    background-color: #f6f6f6;
}

#instant-answer .instant-answer__image {
    margin-right: 1em;
}

.hidden {
    display: none !important;
}

.results {
    max-width: 80%;
    margin: 1rem auto 0 auto;
}

.result-container {
}

.result-container__header__img {
    height: 1.5rem;
    float: left;
    padding: 0 .5em 0 0;
}

.result-stream-container {
    position: relative;
}
.result-stream {
    display: flex;
    overflow-x: hidden;
}
.result-stream-right-nav {
    display: block;
    color: #666;
    font-size: 3em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 45px 20px 0 20px;
    box-sizing: border-box;
    background: linear-gradient(to right, rgba(255,0,0,0), #ccc);
    cursor: pointer;
}

.result-block {
    display: inline;
    min-width: 200px;
    max-width: 200px;
    overflow-wrap: normal;
    float: left;
    background-color: #f8f8f8;
    padding: 0 1rem;
}

.result-container-header-text {
    display: inline;
    padding: 6px;
}

.result-img {
    width: 50px;
    height: 50px;
    display: inline;
    float: left;
    margin-right: .5em;
}

.result-description {
    display: block;
    font-size: small;
}

.result-link {
    text-decoration: none;
    color: black;
}

.result-link:hover {
    text-decoration: underline;
}

.video-result-img {
    width: 150px;
    height: 100px;
}
