@import "normalize.css";
@import "fonts.css";

html {
    font-family: 'Roboto', sans-serif;
}

.home {
    max-width: 830px;
    padding: 0 15px;
    text-align: center;
    height: 100%;
    margin: 10rem auto auto;
}

.home .logo {
    width: 40%;
    margin-bottom: 5rem;
}

a {
    color: #00aade;
    text-decoration: none;
}

a:hover {
    color: #f7941e;
}

.btn {
    background-color: #00aade;
    color: #fff;
    border-radius: 5px;
    padding: .5rem;
    font-size: 1.5rem;
    border: #00aade 1px solid;
}

.btn--back {
    background-color: transparent;
    border: none;
    color: #f7941e;
}

.btn--search {
    border-radius: 0 5px 5px 0;
}

.search {
    display: flex;
    justify-content: center;
}

.search .search__query {
    padding: 1rem;
    border: #999 1px solid;
    border-radius: 5px 0 0 5px;
    font-size: 1.5rem;
    flex-grow: 1;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    border-bottom: #ddd 1px solid;
}

.topbar .topbar__back {
    margin: 0;
    width: 400px;
}

.topbar .topbar__logo {
    background: url('images/logo.png') no-repeat;
    color: transparent;
    background-size: contain;
    width: 200px;
    height: 63px;
    margin: 0;
}

.topbar__search {
    width: 400px;
}

.webview {
    display: block;
    width: 100%;
    height: 100%;
}
